.tab .tab-label {
    -fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin";
    -fx-background-color: transparent;    
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-base-color;
    -fx-font-size: 8px; /* all the same except this newly added one */
}

.label {
	-fx-text-fill: black;
	-fx-font-size: 12px;
	-fx-font-weight: normal;
}

.button {
	-fx-text-fill: black;
	-fx-font-size: 12px;
	-fx-font-weight: normal;
}

.choice-box {
	-fx-text-fill: black;
	-fx-font-size: 12px;
	-fx-font-weight: bold;
}